.body_box {
  clear:both;
  background-color: lightgray;
  width:100%;
  float:left;
  min-height: 100px;
  position: static;
  padding-bottom: 25%;
}

.form_box {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  width:100%;
  height:100%;
  border-radius: 25px;
}

.blueButton {
    background-color:blue;
    color:white;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}

.redButton {
  background-color:red;
  color:white;
  border:red;
  border-radius: 5px;
  font-size: large;
  opacity:0.5;
  transition: 0.3s;
}

.redButton:hover{opacity:1;}

.greyButton{
  border-radius: 5px;
  border:lightgray;
  background-color: lightgray;
  color:#183247;
  font-size:large;
  transition: 0.3s;
}

.greyButton:hover{
  background-color: #133463;
  color:white;
}

.column {
    float: left;
    width: 50%;
  }

  .columnB {
    float: left;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 5%;
  }

  .row-border:after {
    content: "";
    display: table;
    clear: both;
    border: 12px black;
  }

  .errorMessage {
    color:blue;
  }

  .home_button {
    width:100%;
    background:lightgray;
    border:1px solid lightgray;
    border-radius: 5px;
    font-size: 36px;
    font-weight: 400;
    padding: 0 10px;
    margin-top: 5px;
    transition: 0.3s;
  
  }

  .home_button:hover{
    background-color:#133463;
    color:white;
  }

.wide-text-input{
  width:80%;
  font-size: large;
}

.image-display-center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 25%;
}

.options-block {
  display:flex;
  padding:0;
  flex-wrap:wrap;
}

.options_left_panel {
  width: 50%;
  position:relative;
  padding:70px;
  background:#133463;
}

.options_right_panel {
  width: 50%;
  min-height: 100vh;
  position: relative;
  display:flex;
  align-items: center;
  padding:70px;
}

.options_inner_content {
  width:100%;
  max-width:450px;
  margin:0 auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.title_text{
  color:#133463;
}